<testcase
    testtype="0"
    useasexample="{{{USEASEXAMPLE}}}"
    hiderestiffail="{{{HIDERESTIFFAIL}}}"
    mark="1.0000000">
    <testcode>
        <text><![CDATA[{{{TESTCODE}}}]]></text>
    </testcode>
    <stdin>
        <text><![CDATA[{{{STDIN}}}]]></text>
    </stdin>
    <expected>
        <text><![CDATA[{{{EXPECTED}}}]]></text>
    </expected>
    <extra>
        <text></text>
    </extra>
    <display>
        <text><![CDATA[{{{DISPLAY}}}]]></text>
    </display>
</testcase>