<question type="coderunner">
    <name>
        <text>
            {{{NAME}}}
        </text>
    </name>
    <questiontext format="html">
        {{{QUESTIONTEXT}}}
    </questiontext>
    <generalfeedback format="html">
        <text></text>
    </generalfeedback>
    <defaultgrade>
        {{{DEFAULTGRADE}}}
    </defaultgrade>
    <penalty>
        {{{PENALTY}}}
    </penalty>
    <hidden>0</hidden>
    <idnumber></idnumber>
    <coderunnertype>
        {{{CODERUNNERTYPE}}}
    </coderunnertype>
    <tags>
        {{{TAGS}}}
    </tags>
    <prototypetype>0</prototypetype>
    <allornothing>
        {{ALLORNOTHING}}
    </allornothing>
    <penaltyregime>
        {{{PENALTYREGIME}}}
    </penaltyregime>
    <precheck>
        {{{PRECHECK}}}
    </precheck>
    <showsource>0</showsource>
    <answerboxlines>18</answerboxlines>
    <answerboxcolumns>100</answerboxcolumns>
    <answerpreload><![CDATA[
        {{{ANSWERPRELOAD}}}
        ]]></answerpreload>
    <globalextra><![CDATA[
        {{{GLOBALEXTRA}}}
        ]]></globalextra>
    <useace></useace>
    <resultcolumns></resultcolumns>
    <template><![CDATA[
        {{{TEMPLATE}}}
    ]]></template>
    <iscombinatortemplate></iscombinatortemplate>
    <allowmultiplestdins></allowmultiplestdins>
    <answer><![CDATA[
        {{{ANSWER}}}
        ]]></answer>
    <validateonsave>
        {{{VALIDATEONSAVE}}}
    </validateonsave>
    <testsplitterre></testsplitterre>
    <language></language>
    <acelang></acelang>
    <sandbox></sandbox>
    <grader></grader>
    <cputimelimitsecs></cputimelimitsecs>
    <memlimitmb></memlimitmb>
    <sandboxparams></sandboxparams>
    <templateparams></templateparams>
    <hoisttemplateparams>1</hoisttemplateparams>
    <twigall>0</twigall>
    <uiplugin></uiplugin>
    <attachments>
        {{{ATTACHMENTS}}}
    </attachments>
    <attachmentsrequired>
        {{{ATTACHMENTSREQUIRED}}}
    </attachmentsrequired>
    <maxfilesize>
        {{{MAXFILESIZE}}}
    </maxfilesize>
    <filenamesregex>
        {{{FILENAMEREGEX}}}
    </filenamesregex>
    <filenamesexplain></filenamesexplain>
    <displayfeedback>
        {{{DISPLAYFEEDBACK}}}
    </displayfeedback>
    <testcases>
        {{{TESTCASES}}}
        {{{SUPPORTFILES}}}
    </testcases>
</question>