<question type="essay">
    <name>
      <text>{{{NAME}}}</text>
    </name>
    <questiontext format="html">
        {{{QUESTIONTEXT}}}
    </questiontext>
    <generalfeedback format="moodle_auto_format">
      <text>{{{GENERALFEEDBACK}}}</text>
    </generalfeedback>
    <defaultgrade>{{{DEFAULTGRADE}}}</defaultgrade>
    <penalty>{{{PENALTY}}}</penalty>
    <hidden>0</hidden>
    <idnumber></idnumber>
    <responseformat>monospaced</responseformat>
    <responserequired>1</responserequired>
    <responsefieldlines>5</responsefieldlines>
    <attachments>1</attachments>
    <attachmentsrequired>0</attachmentsrequired>
    <graderinfo format="html">
      <text>{{{GRADERINFO}}}</text>
    </graderinfo>
    <responsetemplate format="html">
      <text>{{{RESPONSETEMPLATE}}}</text>
    </responsetemplate>
    <tags>
        {{{TAGS}}}
    </tags>
</question>