<question type="multichoice">
    <name>
        <text>{{{NAME}}}</text>
    </name>
    <questiontext format="html">
        {{{QUESTIONTEXT}}}
    </questiontext>
    <defaultgrade>{{{DEFAULTGRADE}}}</defaultgrade>
    <penalty>{{{PENALTY}}}</penalty>
    <hidden>0</hidden>
    <idnumber></idnumber>
    <single>{{{SINGLE}}}</single>
    <shuffleanswers>{{{SHUFFLEANSWERS}}}</shuffleanswers>
    <answernumbering>abc</answernumbering>
    <correctfeedback format="html">
        <text><![CDATA[{{{CORRECTFEEDBACK}}}]]></text>
    </correctfeedback>
    <partiallycorrectfeedback format="html">
        <text><![CDATA[{{{PARTIALLYCORRECTFEEDBACK}}}]]></text>
    </partiallycorrectfeedback>
    <incorrectfeedback format="html">
        <text><![CDATA[{{{INCORRECTFEEDBACK}}}]]></text>
    </incorrectfeedback>
    <tags>
      {{{TAGS}}}
    </tags>
    {{{CHOICES}}}
</question>