<answer fraction="{{{FRACTION}}}" format="html">
    <text>
        <![CDATA[{{{TEXT}}}]]>
    </text>
    <feedback format="html">
        <text>
            <![CDATA[{{{FEEDBACK}}}]]>
        </text>
    </feedback>
</answer>