<question type="essay">
    <name>
        <text>{{{NAME}}}</text>
    </name>
    <questiontext format="html">
        <text><![CDATA[{{{TEXT}}}]]></text>
    </questiontext>
    <responseformat>monospaced</responseformat>
    <responserequired>0</responserequired>
    <responsefieldlines>5</responsefieldlines>
    <attachments>0</attachments>
    <attachmentsrequired>0</attachmentsrequired>
</question>