<?xml version="1.0" encoding="UTF-8" ?>
<quiz>
    <question type="category">
        <category>
            <text>{{{CATEGORY}}}</text>
        </category>
        <info format="moodle_auto_format">
        <text></text>
        </info>
    </question>
    {{{QUESTIONS}}}
</quiz>